<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
	<testsuites>
		<testsuite name="MediaSites">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">addon</directory>
			<directory suffix=".php">src</directory>
			<exclude>
				<directory>addon/_releases</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>